flask
python-dotenv
gunicorn

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-chroma
langchain-huggingface

chromadb

huggingface_hub

pymupdf
python-docx

rank-bm25
numpy

werkzeug
